.home .a {
    padding: 100px 0;
    background-color: rgb(151, 245, 245);
}

.home .row {
    width: 100vw;
}

.home .col {
    position: relative;
}
/* 
.bi {
    position: absolute;
    font-size: 5em;
} */

.home .btn-search {
    position: absolute;
    right: 0;
    top: 0;
}

.home .btn-search i {
    font-size: 1.4em;
}