
.card {
    width: auto;
    margin: 10px 5px;
}

.p {
    box-shadow: 0 0 0 0.3px black;
    border-radius: 5px;
}

.card:hover {
    transition: 0.2s;
    border: 1.52px solid;
    
    cursor: pointer;
}