
.home .btn-search i {
    font-size: 1.4em;
}

.card {    
    margin: 10px 0;
}

.card:hover {
    border: 1px solid;
    cursor: pointer;
}

.a {
    height: 395px;
}

.b {
    height: 800px;
}

#carouselExampleInterval {
    margin: 6px; 
    height: 100%;
}

.carousel-inner {
    height: 98%;
    border-radius: 20px;
}

.carousel-item {
    height: 100%;
}

#carouselExampleInterval img{
    height: 100%;
}

.progress{
    margin: 5px 0;
}

.qualquer {
    background-color: rgb(136, 136, 136);
    box-shadow: 0 0 0 0.5px black;
    width: 100%;
    height: 98%;
    border-radius: 20px;
    margin: 6px 0 ;
}

@media only screen and (min-width: 540px) {
    .view-G {
        height: 440px;

    } 
    .view-M {
        height: 215px;

    }
    .view-P {
        height: 100px;
    }  
} 
@media only screen and (min-width: 720px) {
    .view-G {
        height: 530px;
    } 
    .view-M {
        height: 260px;
    }
    .view-P {
        height: 122.5px;
    }  
}
@media only screen and (min-width: 960px) {
    .view-G {
        height: 620px;

    } 
    .view-M {
        height: 305px;

    }
    .view-P {
        height: 145px;
    }  
}  
@media only screen and (min-width: 1140px) {
    .view-G {
        height: 710px;
    } 
    .view-M {
        height: 350px;

    }
    .view-P {
        height: 167.5px;

    }  
}  
@media only screen and (min-width: 1320px) {
    .view-G {
        height: 800px;
    } 
    .view-M {
        height: 395px;
    }
    .view-P {
        height: 190px;
    }  
}
